body {
    padding-top: 75px;
}
section {
    margin: 1.5em 0 1.5em 0;   
}
h1 {
    margin-bottom: 0.75em;
    color: blueviolet;
}
h3 {
    color: blueviolet;
}
a:hover {
    color:blueviolet;
}
p {
  white-space: pre-line;
}
.nav-icon {
    max-width: 24px;
    max-height: 24px;
}
.project-card {
    margin-bottom: 50px;
    width: 100%;
}
.project-img-container {
    width: 100%;
}
.project-img-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
.div-home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}
.section-skill-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 58.75%;
}
.div-skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.section-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}
.div-school-projects-page {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}
.div-work-exp-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.section-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}
.purple-text {
    color: #111111;
}
.h1-about {
    margin-bottom: 0.25em;   
}
.button-link {
    background-color: blueviolet;
    border: none;
    padding: .5em 1.5em .5em 1.5em;
    color: mintcream;
    font-size: 1.25em;
    text-decoration: none;
}
.button-link:hover {
    background-color: lavender;
    color: blueviolet;
}
.h3-project-stack {
    margin: 1em 0 1em 0;
}
.ul-project-stack {
    margin-top: 2em;
}
.p-webpage-description {
    margin: 2.5em 0 1.5em 0;
}
.navbar-brand {
    color: lavender;
}
.navbar-brand:hover {
    color: blueviolet;
}
.active-link {
    color: blueviolet;
}
.navbar-containter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5em 1.5em .5em 1.5em;
}
.contact-a {
    color: blueviolet;
    text-decoration: none;
}
.contact-a:hover {
    color: lightskyblue;
}
.contact-buttons{
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-buttons a {
    margin: 0 1em .5em 0;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.nav-pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}